/* Reseta margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Adobe Caslon Pro;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Cabeçalho e navegação */
header {
    font-family: Roboto;
    font-size: 25px;
    background: #A85067;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

header nav ul li a:hover {
    background: #783D4D;
    border-radius: 5px;
}

/* Seções */
section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-left {
    position: absolute; /* Para posicionar fora do fluxo normal da página */
    left: -450px; /* Alinha à esquerda */
    top: 60px; /* Alinha 100px abaixo do topo da página */
    width: 1000px;      /* Defina o tamanho desejado */
    height: 2000px;     /* Defina a altura desejada */
    object-fit: cover; /* Mantém a proporção da imagem enquanto corta */
    clip-path: inset(0 300px 0 0); /* Corta 50px da direita */
}

/* Posicionamento da imagem no canto direito */
.image-right {
    position: absolute; /* Para posicionar fora do fluxo normal da página */
    right: -300px; /* Alinha à esquerda */
    top: 60px; /* Alinha 100px abaixo do topo da página */
    width: 1000px;      /* Defina o tamanho desejado */
    height: 2000px;     /* Defina a altura desejada */
    object-fit: cover; /* Mantém a proporção da imagem enquanto corta */
    clip-path: inset(0 200px 0 460px); /* Corta 50px da direita */
}

/* Títulos */
h1 {  
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 24px;
    text-align: center;
    color: #444;
}

h2 {  
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: Roboto;
    font-size: 20px;
    text-align: left;
    color: #444;
}

/* Lista de portfólio */
section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

/* Formulário de contato */
form label {
    font-family: Verdana;  
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Verdana;
}

form button {
    background: #A85067;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #783D4D;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background: #A85067;
    color: #fff;
    margin-top: 20px;
}
